<!DOCTYPE html>
<html lang="en_US">
  <head>
    <title>Referrer Test</title>
    <meta id="myReferrer" name="referrer" content="no-referrer" />

    <script>
      document.getElementById('currentReferrer').textContent = JSON.stringify(document.referrer);
      window.history.pushState({}, '', '?hello=world');

      function handleSelect(event) {
        const tag = document.querySelector('#myReferrer');
        tag.setAttribute('content', event.target.value);
      }
    </script>
  </head>

  <body>
    <div style="margin-bottom: 1rem">
      <a href="https://help.salesforce.com/s/">Cross Domain</a>
    </div>

    <div style="margin-bottom: 1rem">
      <a href="/">Same Domain</a>
    </div>

    <select onchange="handleSelect(event)">
      <option>no-referrer</option>
      <option>no-referrer-when-downgrade</option>
      <option>origin</option>
      <option>origin-when-cross-origin</option>
      <option>same-origin</option>
      <option>strict-origin</option>
      <option>strict-origin-when-cross-origin</option>
      <option>unsafe-url</option>
    </select>

    <div style="margin-top: 1rem">Current Referrer: <span id="currentReferrer" style="color: gray"></span></div>
  </body>
</html>
